import { defineReactParts } from "@ghost-shell/react";
import { pluginContract } from "./plugin-contract-expose.js";
import { MainPanel } from "./components/MainPanel.js";

export const pluginParts = defineReactParts(pluginContract, {
  "__PART_ID__": MainPanel,
});
